*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(5, 7, 34, 0.94);
}

.container {
    margin: 80px auto;
    max-width: 600px;
    width: 100%;
    background-color: rgba(121, 136, 251, 1);
    border-radius: 10px;
    padding: 20px;
}

form input, button{
    width:100%;
    margin-top: 15px;
    padding:8px;
}


form button{
    background-color: rgba(0, 102, 33, 1);
    font-size: x-large;
    color:#fff;
    cursor:pointer;
}

.numeroMaior{
    display: block;
    text-align: center;
    padding: 8px;
    background-color: red;
    margin-top: 8px;
}

.numeroMenor{
    display: block;
    text-align: center;
    padding: 8px;
    background-color: green;
    margin-top: 8px;
}